<mat-card appearance="outlined" class="login-card">
  <form (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title>
        <h3>Welcome to Lang Learn!</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Please log in to access your personal language learning companion, or sign up if you don't have an account.</p>
    </mat-card-content>
    <mat-card-actions class="card-footer">
      <button mat-stroked-button color="primary" type="submit">Log In/Sign up</button>
    </mat-card-actions>
  </form>
</mat-card>
